name: Tanjun CI
on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ['self-hosted', 'Linux', 'X64']
    container:
      image: "python:3.12.3"
    steps:
      - name: Checkout repository
        uses: actions/checkout@main
        with:
          ref: ${{ github.sha }}
      
      - name: Set up Python
        uses: actions/setup-python@main
        with:
          python-version: "3.12.3"
      
      - name: Create and activate virtual environment
        run: |
          python3 -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8
      
      - name: Lint with flake8
        run: |
          source venv/bin/activate
          python run_flake8.py

  notify_discord:
    runs-on: ['self-hosted', 'Linux', 'X64']
    needs: build
    if: startsWith(github.ref, 'refs/heads/master') || startsWith(github.ref, 'refs/heads/Development') || startsWith(github.ref, 'refs/heads/development') || startsWith(github.ref, 'refs/heads/dev') || startsWith(github.ref, 'refs/heads/ver/')
    steps:
      - name: Checkout repository
        uses: actions/checkout@main
      - name: Extract event information
        id: event_info
        run: |
          COMMIT_TITLE=$(git log --format=%s -1)
          GITHUB_AUTHOR_NAME=$(git log -1 --pretty=format:'%an')
          GITHUB_AUTHOR_EMAIL=$(git log -1 --pretty=format:'%ae')
          GITHUB_AUTHOR_PROFILE_ICON="https://avatars.githubusercontent.com/${GITHUB_ACTOR}"
          COMMIT_HASH=$(git log -1 --pretty=format:'%H')
          COMMIT_TIMESTAMP=$(git log -1 --pretty=format:'%cI')

          echo "title=${COMMIT_TITLE}" >> $GITHUB_ENV
          echo "author_name=${GITHUB_AUTHOR_NAME}" >> $GITHUB_ENV
          echo "author_url=https://github.com/${GITHUB_ACTOR}" >> $GITHUB_ENV
          echo "author_profileicon=${GITHUB_AUTHOR_PROFILE_ICON}" >> $GITHUB_ENV
          echo "timestamp=${COMMIT_TIMESTAMP}" >> $GITHUB_ENV
          echo "footer_text=${COMMIT_HASH}" >> $GITHUB_ENV
          echo "color=13317109" >> $GITHUB_ENV
          echo "username=Tanjun Changelog" >> $GITHUB_ENV
      - name: Check commit message
        id: check_commit_message
        run: |
          if [[ "${{ env.title }}" == *"[ignore changelog]"* ]]; then
            echo "::error::Commit message includes '[ignore changelog]'. Skipping Discord notification."
            echo "skip_discord_notification=true" >> $GITHUB_ENV
          else
            echo "skip_discord_notification=false" >> $GITHUB_ENV
          fi
      - name: Post update on Discord
        if: env.skip_discord_notification != 'true'
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |
          if [ -z "$DISCORD_WEBHOOK_URL" ]; then
            echo "::error::DISCORD_WEBHOOK_URL is not set."
            exit 1
          fi

          for i in {1..5}; do
            response=$(curl -s -o /dev/null -w "%{http_code}" -X POST -H 'Content-Type: application/json' -d '{
              "content": null,
              "embeds": [
                {
                  "title": "${{ env.title }}",
                  "description": null,
                  "color": ${{ env.color }},
                  "author": {
                    "name": "${{ env.author_name }}",
                    "url": "${{ env.author_url }}",
                    "icon_url": "${{ env.author_profileicon }}"
                  },
                  "footer": {
                    "text": "${{ env.footer_text }}"
                  },
                  "timestamp": "${{ env.timestamp }}"
                }
              ],
              "username": "${{ env.username }}",
              "attachments": []
            }' "$DISCORD_WEBHOOK_URL")
            
            if [ $response -eq 204 ]; then
              echo "Discord notification sent successfully."
              break
            else
              echo "Failed to send Discord notification. Attempt $i of 5."
              sleep 10
            fi
          done
          if [ $response -ne 204 ]; then
            echo "::error::Failed to send Discord notification after 5 attempts."
            exit 1
          fi
