name: Tanjun CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: python:3.11  # Specify a Docker container with Python 3.11 if available, or use ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@main
        with:
          ref: ${{ github.sha }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8

      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  notify_discord:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Extract commit information
        id: commit_info
        run: |
          COMMIT_TITLE=$(git log --format=%s -1)
          COMMIT_DESCRIPTION=$(git log --format=%b -1)
          GITHUB_AUTHOR_NAME=$(git log -1 --pretty=format:'%an')
          GITHUB_AUTHOR_EMAIL=$(git log -1 --pretty=format:'%ae')
          GITHUB_AUTHOR_PROFILE_ICON="https://avatars.githubusercontent.com/${GITHUB_ACTOR}"
          COMMIT_HASH=$(git log -1 --pretty=format:'%H')
          COMMIT_TIMESTAMP=$(git log -1 --pretty=format:'%cI')

          echo "commit_title=${COMMIT_TITLE}" >> $GITHUB_ENV
          echo "commit_description=${COMMIT_DESCRIPTION}" >> $GITHUB_ENV
          echo "github_author_name=${GITHUB_AUTHOR_NAME}" >> $GITHUB_ENV
          echo "github_author_url=https://github.com/${GITHUB_ACTOR}" >> $GITHUB_ENV
          echo "github_author_profileicon=${GITHUB_AUTHOR_PROFILE_ICON}" >> $GITHUB_ENV
          echo "commit_hash=${COMMIT_HASH}" >> $GITHUB_ENV
          echo "commit_timestamp=${COMMIT_TIMESTAMP}" >> $GITHUB_ENV

      - name: Check commit message
        id: check_commit_message
        run: |
          if [[ "${COMMIT_DESCRIPTION}" == *"[ignore changelog]"* ]]; then
            echo "skip_discord_notification=true" >> $GITHUB_ENV
          elif [[ "${COMMIT_TITLE}" == "[ignore changelog]"* ]]; then
            echo "::error::Commit message starts with '[ignore changelog]'. Skipping Discord notification."
            exit 1
          else
            echo "skip_discord_notification=false" >> $GITHUB_ENV
          fi

      - name: Post update on Discord
        if: env.skip_discord_notification != 'true'
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |
          curl -X POST -H 'Content-Type: application/json' -d '{
            "content": null,
            "embeds": [
              {
                "title": "'"${{ env.commit_title }}"'",
                "description": "'"${{ env.commit_description }}"'",
                "color": 13317109,
                "author": {
                  "name": "'"${{ env.github_author_name }}"'",
                  "url": "'"${{ env.github_author_url }}"'",
                  "icon_url": "'"${{ env.github_author_profileicon }}"'"
                },
                "footer": {
                  "text": "'"${{ env.commit_hash }}"'"
                },
                "timestamp": "'"${{ env.commit_timestamp }}"'"
              }
            ],
            "username": "Tanjun Changelog",
            "attachments": []
          }' $DISCORD_WEBHOOK_URL
