name: Tanjun CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8 pytest pytest-asyncio

      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  notify_discord:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Extract commit information
        id: commit_info
        run: |
          COMMIT_TITLE=$(git log --format=%s -1)
          COMMIT_DESCRIPTION=$(git log --format=%b -1)
          GITHUB_AUTHOR_NAME=$(git log -1 --pretty=format:'%an')
          GITHUB_AUTHOR_EMAIL=$(git log -1 --pretty=format:'%ae')
          GITHUB_AUTHOR_PROFILE_ICON="https://avatars.githubusercontent.com/${GITHUB_AUTHOR_NAME}"

          # Get the commit hash and timestamp in ISO 8601 format
          COMMIT_HASH=$(git log -1 --pretty=format:'%H')
          COMMIT_TIMESTAMP=$(git log -1 --pretty=format:'%cI')

          # Set output variables for later use
          echo "::set-output name=commit_title::${COMMIT_TITLE}"
          echo "::set-output name=commit_description::${COMMIT_DESCRIPTION}"
          echo "::set-output name=github_author_name::${GITHUB_AUTHOR_NAME}"
          echo "::set-output name=github_author_url::https://github.com/${GITHUB_ACTOR}"
          echo "::set-output name=github_author_profileicon::${GITHUB_AUTHOR_PROFILE_ICON}"
          echo "::set-output name=commit_hash::${COMMIT_HASH}"
          echo "::set-output name=commit_timestamp::${COMMIT_TIMESTAMP}"

      - name: Send message to Discord Webhook
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          COMMIT_TITLE: ${{ steps.commit_info.outputs.commit_title }}
          COMMIT_DESCRIPTION: ${{ steps.commit_info.outputs.commit_description }}
          GITHUB_AUTHOR_NAME: ${{ steps.commit_info.outputs.github_author_name }}
          GITHUB_AUTHOR_URL: ${{ steps.commit_info.outputs.github_author_url }}
          GITHUB_AUTHOR_PROFILEICON: ${{ steps.commit_info.outputs.github_author_profileicon }}
          COMMIT_HASH: ${{ steps.commit_info.outputs.commit_hash }}
          COMMIT_TIMESTAMP: ${{ steps.commit_info.outputs.commit_timestamp }}
        run: |
          curl -X POST -H 'Content-Type: application/json' -d '{
            "content": null,
            "embeds": [
              {
                "title": "'"$COMMIT_TITLE"'",
                "description": "'"$COMMIT_DESCRIPTION"'",
                "color": 13317109,
                "author": {
                  "name": "'"$GITHUB_AUTHOR_NAME"'",
                  "url": "'"$GITHUB_AUTHOR_URL"'",
                  "icon_url": "'"$GITHUB_AUTHOR_PROFILEICON"'"
                },
                "footer": {
                  "text": "'"$COMMIT_HASH"'"
                },
                "timestamp": "'"$COMMIT_TIMESTAMP"'"
              }
            ],
            "username": "Tanjun Changelog",
            "attachments": []
          }' $DISCORD_WEBHOOK_URL
