name: Tanjun CI
on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: python:3.11
    steps:
      - name: Checkout repository
        uses: actions/checkout@main
        with:
          ref: ${{ github.sha }}
      - name: Set up Python
        uses: actions/setup-python@main
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8
      - name: Lint with flake8
        run: |
          python run_flake8.py

  notify_discord:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/heads/master') || startsWith(github.ref, 'refs/heads/ver/')
    steps:
      - name: Checkout repository
        uses: actions/checkout@main
      - name: Extract event information
        id: event_info
        run: |
          COMMIT_TITLE=$(git log --format=%s -1)
          GITHUB_AUTHOR_NAME=$(git log -1 --pretty=format:'%an')
          GITHUB_AUTHOR_EMAIL=$(git log -1 --pretty=format:'%ae')
          GITHUB_AUTHOR_PROFILE_ICON="https://avatars.githubusercontent.com/${GITHUB_ACTOR}"
          COMMIT_HASH=$(git log -1 --pretty=format:'%H')
          COMMIT_TIMESTAMP=$(git log -1 --pretty=format:'%cI')
          echo "title=${COMMIT_TITLE}" >> $GITHUB_ENV
          
          echo "author_name=${GITHUB_AUTHOR_NAME}" >> $GITHUB_ENV
          echo "author_url=https://github.com/${GITHUB_ACTOR}" >> $GITHUB_ENV
          echo "author_profileicon=${GITHUB_AUTHOR_PROFILE_ICON}" >> $GITHUB_ENV
          echo "timestamp=${COMMIT_TIMESTAMP}" >> $GITHUB_ENV
          echo "footer_text=${COMMIT_HASH}" >> $GITHUB_ENV
          echo "color=13317109" >> $GITHUB_ENV
          echo "username=Tanjun Changelog" >> $GITHUB_ENV
      - name: Check commit message
        id: check_commit_message
        run: |
          if [[ "${{ env.title }}" == *"[ignore changelog]"* ]]; then
            echo "::error::Commit message starts with '[ignore changelog]'. Skipping Discord notification."
            exit 1
          else
            echo "skip_discord_notification=false" >> $GITHUB_ENV
          fi
      - name: Post update on Discord
        if: env.skip_discord_notification != 'true'
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |
          curl -X POST -H 'Content-Type: application/json' -d '{
            "content": null,
            "embeds": [
              {
                "title": "${{ env.title }}",
                "description": null,
                "color": ${{ env.color }},
                "author": {
                  "name": "${{ env.author_name }}",
                  "url": "${{ env.author_url }}",
                  "icon_url": "${{ env.author_profileicon }}"
                },
                "footer": {
                  "text": "${{ env.footer_text }}"
                },
                "timestamp": "${{ env.timestamp }}"
              }
            ],
            "username": "${{ env.username }}",
            "attachments": []
          }' $DISCORD_WEBHOOK_URL
