name: Notify discord on closed issues

on:
  issues:
    types: [closed]

jobs:
  notify_discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@main
      - name: Extract event information
        id: event_info
        run: |
          # Store title with issue number and title
          echo "title=[Fertiggestellt]: #${{ github.event.issue.number }} - ${{ github.event.issue.title }}" >> $GITHUB_ENV

          description_raw=${{ github.event.issue.body }}

          description=$(jq -n --arg mt "$description_raw" '$mt')

          echo $description >> $GITHUB_ENV
          
          # Store author information
          echo "author_name=${{ github.event.issue.user.login }}" >> $GITHUB_ENV
          echo "author_url=https://github.com/${{ github.event.issue.user.login }}" >> $GITHUB_ENV
          echo "author_profileicon=https://avatars.githubusercontent.com/${{ github.event.issue.user.login }}" >> $GITHUB_ENV
          
          # Store timestamp, footer, color, and username
          echo "timestamp=${{ github.event.issue.closed_at }}" >> $GITHUB_ENV
          echo "footer_text=Issue #${{ github.event.issue.number }}" >> $GITHUB_ENV
          echo "color=5763719" >> $GITHUB_ENV
          echo "username=Tanjun Issue Tracker" >> $GITHUB_ENV
          
      - name: Post update on Discord
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          title: ${{ env.title }}
          description: ${{ env.description }}
          author_name: ${{ env.author_name }}
          author_url: ${{ env.author_url }}
          author_profileicon: ${{ env.author_profileicon }}
          timestamp: ${{ env.timestamp }}
          footer_text: ${{ env.footer_text }}
          color: ${{ env.color }}
          username: ${{ env.username }}
        run: |
          # Post JSON payload to Discord webhook
          curl -X POST -H 'Content-Type: application/json' -d '{
            "content": null,
            "embeds": [
              {
                "title": "${{ env.title }}",
                "description": ${{ env.description }},
                "color": ${{ env.color }},
                "author": {
                  "name": "${{ env.author_name }}",
                  "url": "${{ env.author_url }}",
                  "icon_url": "${{ env.author_profileicon }}"
                },
                "footer": {
                  "text": "${{ env.footer_text }}"
                },
                "timestamp": "${{ env.timestamp }}"
              }
            ],
            "username": "${{ env.username }}",
            "attachments": []
          }' $DISCORD_WEBHOOK_URL
