name: Notify discord on closed issues
on:
  issues:
    types: [closed]
jobs:
  notify_discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@main
      - name: Extract event information
        id: event_info
        run: |
          echo "title=$(echo "[Fertiggestellt]: ${{ github.event.issue.title }}" | jq -sRr @json)" >> $GITHUB_ENV
          echo "description=$(echo "${{ github.event.issue.body }}" | jq -sRr @json)" >> $GITHUB_ENV
          echo "author_name=$(echo "${{ github.event.issue.user.login }}" | jq -sRr @json)" >> $GITHUB_ENV
          echo "author_url=$(echo "https://github.com/${{ github.event.issue.user.login }}" | jq -sRr @json)" >> $GITHUB_ENV
          echo "author_profileicon=$(echo "https://avatars.githubusercontent.com/${{ github.event.issue.user.login }}" | jq -sRr @json)" >> $GITHUB_ENV
          echo "timestamp=$(echo "${{ github.event.issue.closed_at }}" | jq -sRr @json)" >> $GITHUB_ENV
          echo "footer_text=$(echo "Issue #${{ github.event.issue.number }}" | jq -sRr @json)" >> $GITHUB_ENV
          echo "color=5763719" >> $GITHUB_ENV
          echo "username=$(echo "Tanjun Issue Tracker" | jq -sRr @json)" >> $GITHUB_ENV
      - name: Post update on Discord
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |
          payload=$(jq -n \
            --arg title "${{ env.title }}" \
            --arg description "${{ env.description }}" \
            --arg author_name "${{ env.author_name }}" \
            --arg author_url "${{ env.author_url }}" \
            --arg author_profileicon "${{ env.author_profileicon }}" \
            --arg timestamp "${{ env.timestamp }}" \
            --arg footer_text "${{ env.footer_text }}" \
            --argjson color "${{ env.color }}" \
            --arg username "${{ env.username }}" \
            '{
              "content": null,
              "embeds": [
                {
                  "title": $title,
                  "description": $description,
                  "color": $color,
                  "author": {
                    "name": $author_name,
                    "url": $author_url,
                    "icon_url": $author_profileicon
                  },
                  "footer": {
                    "text": $footer_text
                  },
                  "timestamp": $timestamp
                }
              ],
              "username": $username,
              "attachments": []
            }')
          
          echo "$payload" | jq '.'
          
          curl -X POST -H "Content-Type: application/json" -d "$payload" "$DISCORD_WEBHOOK_URL"
